[submodule "app/themes/hextra"]
	path = app/themes/hextra
	url = https://github.com/imfing/hextra.git
[submodule "app/themes/yinyang"]
	path = app/themes/yinyang
	url = https://github.com/joway/hugo-theme-yinyang.git
