# Hugo build output
/public/
/resources/
/.hugo_build.lock

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl
remote.tfbackend

# OS
.DS_Store
